@{
    ViewBag.Title = "Acerca de";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<article>
    <p>
        Esta página web permite el Alta, Baja y Modificación de datos de la base de datos
        de pruebas provista por LoJack. Fue desarrollada por los programadores Lucas Máspero
        y Luciano Buscaglia.
    </p>
</article>
