@{
    ViewBag.Title = "Contacto";
}

<div class="content-wrapper">
    <hgroup class="title">
        <h1>@ViewBag.Title</h1>
    </hgroup>
    <section class="contact">
        <header>
            <h3>Email</h3>
        </header>
        <p>
            <span class="label">Soporte:</span>
            <span><a href="mailto:lmaspero@gsystems.com.ar">lmaspero@gsystems.com.ar</a></span>
        </p>
        <p>
            <span class="label">Soporte:</span>
            <span><a href="mailto:lbuscaglia@gsystems.com.ar">lbuscaglia@gsystems.com.ar</a></span>
        </p>
    </section>

    <section class="contact">
        <header>
            <h3>Dirección</h3>
        </header>
        <p>
            Esteban de Luca 2223 (C1246ABS)<br />
            Ciudad Autónoma de Buenos Aires - Argentina
        </p>
    </section>
</div>