@{
    ViewBag.Title = "LoJack Prueba ABM";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            <p>
                Esta página web permite el <mark>Alta, Baja y Modificación</mark> de datos de
                la base de datos de pruebas provista por LoJack.
            </p>
        </div>
    </section>
}
<h3>Tablas de la base de datos LoJack Prueba:</h3>
<ol class="round">
    <li class="one">
        <h5>Equipo</h5>
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Acceder</a>
    </li>

    <li class="two">
        <h5>EquipoTipo</h5>
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Acceder</a>
    </li>

    <li class="three">
        <h5>NivelServicio</h5>
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Acceder</a>
    </li>

    <li class="four">
        <h5>Entidad</h5>
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Acceder</a>
    </li>
</ol>
